<section class="content">
    <section class="card">
        <div class="main-text">
            @if (contextoAtual) {
            <p>
                Tem certeza que deseja apagar {{ contextoAtual }} a seguir?
            </p>
            }
            @if (nomeEntidade) {
            <p>
                <strong>{{ nomeEntidade }}</strong>
            </p>
            }
        </div>
        <div class="actions">
            <button mat-flat-button (click)="closeModal()" class="cancelar-botao">
                Cancelar
            </button>
            <button mat-flat-button (click)="confirmar()" class="button">
                Confirmar
            </button>
        </div>
    </section>
</section>