.membro-card {
    border-radius: 12px;
    border: .5px solid var(--borders, #e5e5e5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    max-height: 220px;
    width: 100%;
    font-size: clamp(.8rem, .8vw, 1.2rem);
}

.content {
    padding: 12px;
    padding-top: 2px;
}

.disponibilidade {
    margin-top: 2px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    p{
        margin-top: 0;
    }
}

.inside-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: start
}

.info {
    display: flex;
    gap: 5px;
}

.avatar {
    min-width: 30px; 
    width: 30px; 
    height: 30px; 
    border-radius:50%; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    background: black;
    color: white;
    font-weight: 600;
}

.dataMembro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.8rem;
    }
}

.data-diferente{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    input{
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        border: 1px solid var(--borders, #e5e5e5);
        font-size: 14px;
    }
}

