<section class="select-membros">
    <div class="membro-card">
        <div class="content">
            <h4 class="membro-title">{{ nomeFuncao }}</h4>
            <div class="inside-content">
                <div class="acoes">
                    <input type="checkbox" [checked]="selected" (change)="onToggle($event)">
                </div>
                <div class="avatar">
                    {{ initials }}
                </div>
                <div class="info">
                    <p class="nome">{{ membro.nome || 'Nome' }}</p>
                    <p class="preco"> R${{ membro.precoVenda ? (membro.precoVenda + '/h') : 'precoHora' }}</p>
                </div>
            </div>
            <p class="disponibilidade">
                @if(!ocupado) {
                {{ membro.status === 'ativo' ? 'Disponível' : 'Indisponível' }}
                }
                @if (ocupado) {
                    Este membro estará ocupado nesta data.
                }
            </p>
            @if (selected) {
            <div class="dataMembro">
                <input type="checkbox" [checked]="dataDiferente" [(ngModel)]="dataDiferente" />
                <p>Data diferente pra o Membro?</p>
            </div>
            @if(dataDiferente) {
            <div class="data-diferente">
                <input type="date" [(ngModel)]="membro.dataInicioIndividual" placeholder="Data de inicio do membro"
                    (ngModelChange)="onDataInicioChange($event)" />
                <input type="date" [(ngModel)]="membro.dataFimIndividual" placeholder="Data de fim do membro"
                    (ngModelChange)="onDataFimChange($event)" />
            </div>
            }
            }
        </div>
    </div>
</section>