
<mat-drawer-container class="container-geral" autosize>
  @if (!isLoginPage) {
  <mat-drawer [mode]="mode" [(opened)]="sidebarOpen" class="sidebar">
    <h1 class="title">{{ nomeEmpresa }}</h1>
    <mat-list>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/'"
        [routerLinkActiveOptions]="{exact: true}">
        <lucide-angular class="icon" [size]="20" [img]="ChartColumn"></lucide-angular>
        <p>Dashboard</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/clientes'">
        <lucide-angular class="icon" [size]="20" [img]="Building2"></lucide-angular>
        <p>Clientes</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/funcoes'">
        <lucide-angular class="icon" [size]="20" [img]="Boxes"></lucide-angular>
        <p>Funções</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/membros'">
        <lucide-angular class="icon" [size]="20" [img]="User"></lucide-angular>
        <p>Membros</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/equipes'">
        <lucide-angular class="icon" [size]="20" [img]="Users"></lucide-angular>
        <p>Equipes</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/agenda'">
        <lucide-angular class="icon" [size]="20" [img]="Calendar"></lucide-angular>
        <p>Agenda</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/fechamento'">
        <lucide-angular class="icon" [size]="20" [img]="ClipboardCheck"></lucide-angular>
        <p>Fechamento</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/faturamento'">
        <lucide-angular class="icon" [size]="20" [img]="Receipt"></lucide-angular>
        <p>Faturamentos</p>
      </button>
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/fluxoDeCaixa'">
        <lucide-angular class="icon" [size]="20" [img]="ChartNoAxesCombined"></lucide-angular>
        <p>Fluxo de Caixa</p>
      </button>
      @if(perm.can('configuracoes', 'view')) {
      <button class="buttonNavbar" routerLinkActive="active" [routerLink]="'/configuracoes'">
        <lucide-angular class="icon" [size]="20" [img]="Settings"></lucide-angular>
        <p>Configurações</p>
      </button>
      }
    </mat-list>
  </mat-drawer>
  }

  <mat-drawer-content>
    <main class="mainContent">
      @if (!isLoginPage) {
      <div class="top-bar">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
          <lucide-angular [img]="Menu" [size]="20"></lucide-angular>
        </button>
        <section class="floatingRightMenu">
          <lucide-angular class="icon" [size]="16" [img]="User"></lucide-angular>
          <p>{{ nomeUsuario }}</p>
          <button class="buttonSair" type="button" (click)="logout()">
            <lucide-angular class="icon" [size]="16" [img]="LogOut"></lucide-angular>
            <p>Sair</p>
          </button>
        </section>
      </div>
      }
      <app-toast></app-toast>
      <router-outlet />
    </main>
  </mat-drawer-content>

</mat-drawer-container>