<section class="content">
    <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro"
        (ngSubmit)="adicionarMembro()" ngNativeValidate>
        <section class="card">
            <div class="pop-up-title">
                <h2 class="title-card">Novo Membro</h2>
                <lucide-angular (click)="closeModal()" [img]="X" [size]="20"></lucide-angular>
            </div>
            <h3 class="subtitle">Adicione um novo freelancer ao sistema</h3>
            <label class="title-label">Nome Completo</label>
            <div class="search-input">
                <input placeholder="Digite o nome completo" [(ngModel)]="membro.nome" name="nome" type="text"
                    required />
            </div>

            <label class="title-label">CPF</label>
            <div class="search-input">
                <input placeholder="000.000.000-00" [(ngModel)]="membro.cpf" mask="000.000.000-00" name="cpf"
                    type="text" required />
            </div>

            <label class="title-label">Celular</label>
            <div class="search-input">
                <input placeholder="(00) 00000-00000" [(ngModel)]="membro.contato" mask="(00) 00000-00000"
                    name="contato" type="text" required />
            </div>

            <label class="title-label">Cargo</label>
            <select id="cargo" name="cargo" class="select" [(ngModel)]="membro.funcaoId"
                (ngModelChange)="onSelecionarFuncao($event)">
                <option [ngValue]="undefined">Selecione...</option>
                <option *ngFor="let f of listaFuncoes" [ngValue]="f.id">{{ f.nomeFuncao }}</option>
            </select>

            <label class="title-label">Preço por Hora</label>
            <div class="search-input">
                <input type="text" inputmode="numeric" [value]="precoHoraDisplay" (input)="validateHourValue($event)"
                    name="precoHora" (keydown)="bloquearNaoNumerico($event)" (click)="moveCursorToEnd($event.target)"
                    (keydown.arrowleft)="$event.preventDefault()" required />
            </div>

            <label class="title-label">Preço de Venda</label>
            <div class="search-input">
                <input type="text" inputmode="numeric" [value]="precoVendaDisplay" (input)="validateSellValue($event)"
                    name="precoVenda" (keydown)="bloquearNaoNumerico($event)" (click)="moveCursorToEnd($event.target)"
                    (keydown.arrowleft)="$event.preventDefault()" required />
            </div>

            <hr>
            <h2 class="title-card secondary">Conta para depósito</h2>

            <label class="title-label">Tipo de conta</label>
            <select name="accountType" class="select" [(ngModel)]="membro.tipoPagamento"
                (ngModelChange)="onTipoPagamentoChange($event)">
                <option [ngValue]="undefined">Selecione...</option>
                <option [ngValue]="TipoPagamento.Pix">PIX</option>
                <option [ngValue]="TipoPagamento.Banco">CONTA BANCÁRIA</option>
            </select>

            @if (membro.tipoPagamento === TipoPagamento.Pix) {
            <label class="title-label"> Chave pix </label>
            <div class="search-input">
                <input placeholder="Insira aqui a chave pix. . ." name="chavePix" type="text"
                    [(ngModel)]="membro.chavePix">
            </div>
            } @else if (membro.tipoPagamento === TipoPagamento.Banco) {
            <label class="title-label"> Banco </label>
            <div class="search-input">
                <input placeholder="Insira aqui o nome do Banco" name="nomeBanco" type="text"
                    [(ngModel)]="membro.bancoNome">
            </div>
            <label class="title-label"> Agência </label>
            <div class="search-input">
                <input placeholder="0000" mask="0000" name="agencia" type="text" [(ngModel)]="membro.bancoAgencia">
            </div>
            <label class="title-label"> Conta </label>
            <div class="search-input">
                <input placeholder="00000-0" mask="00000-0" name="conta" type="text" [(ngModel)]="membro.bancoConta">
            </div>
            <select name="tipoConta" class="select" [(ngModel)]="membro.bancoTipo">
                <option [ngValue]="undefined">Selecione...</option>
                <option [ngValue]="'poupanca'">Poupança</option>
                <option [ngValue]="'corrente'">Corrente</option>
            </select>
            }


            <div class="actions">
                <button mat-flat-button (click)="closeModal()" class="cancelar-botao">Cancelar</button>
                @if(!atualizando) {
                <button mat-flat-button type="submit" class="button">Adicionar</button>
                } @else {
                <button mat-flat-button type="button" class="button" (click)="atualizarMembro()">Atualizar</button>
                }
            </div>
        </section>
    </form>
</section>