<section class="content">
    <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro"
        (ngSubmit)="salvarAlteracao()" ngNativeValidate>
        <section class="card">
            <h2 class="title-card">Editar valor do membro</h2>
            <h3 class="subtitle">Você está editando o valor do membro: {{ detalhe?.membroNome }}</h3>
            <label class="title-label">Novo Valor</label>
            <div class="search-input">
                <input placeholder="Digite o novo valor" [(ngModel)]="precoVendaTemp" name="precoVendaTemp"
                    type="number" step="0.01" required />
            </div>

            <div class="actions">
                <button mat-flat-button (click)="closeModal()" class="cancelar-botao">Cancelar</button>
                <button mat-flat-button class="button" type="submit">Atualizar</button>
            </div>
        </section>
    </form>
</section>