<section class="content">
    <form #pesquisaForm="ngForm">
        <mat-card>
            <mat-card-header>
                <div class="header">
                    <div class="header-wrap">
                        <mat-card-title> Gerenciamento de Usuários </mat-card-title>
                        <mat-card-subtitle> Crie e gerencie perfis de usuários com permissões personalizadas
                        </mat-card-subtitle>
                    </div>
                    @if (perm.can('configuracoes', 'create')) {
                    <app-main-button text="Novo Usuário" [icon]="UserPlus" (click)="openModal()"></app-main-button>
                    }
                </div>
            </mat-card-header>
            <div class="table">
                <table mat-table [dataSource]="dataSource" [trackBy]="trackByUsuario">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef>Usuário</th>
                        <td mat-cell *matCellDef="let usuario">
                            {{ usuario.nome }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nivelDeAcesso">
                        <th mat-header-cell *matHeaderCellDef>Nível de Acesso</th>
                        <td class="table-desc" mat-cell *matCellDef="let usuario">

                            @if (usuario.role == "adminMaster") {
                            <div class="acessLabelAdmMaster">
                                <lucide-angular class="icon" [size]="18" [img]="Shield"></lucide-angular>
                                <p>ADM Mestre</p>
                            </div>
                            } @else if (usuario.role == "admin") {
                            <div class="acessLabelAdm">
                                <lucide-angular class="icon" [size]="18" [img]="Shield"></lucide-angular>
                                <p>Administrador</p>
                            </div>
                            } @else if (usuario.role == "gerente") {
                            <div class="acessLabelGerente">
                                <lucide-angular class="icon" [size]="18" [img]="User"></lucide-angular>
                                <p>Gerente</p>
                            </div>
                            } @else if (usuario.role == "visualizador") {
                            <div class="acessLabelVisualizador">
                                <lucide-angular class="icon" [size]="18" [img]="Eye"></lucide-angular>
                                <p>Visualizador</p>
                            </div>
                            } @else {
                            <div class="acessLabelPersonalizado">
                                <lucide-angular class="icon" [size]="18" [img]="Settings"></lucide-angular>
                                <p>Personalizado</p>
                            </div>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let usuario">
                            <app-slider-button [checked]="usuario.isActive"
                                (change)="toggleUsuario(usuario)" [disabled]="disabled"></app-slider-button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ultimoLogin">
                        <th mat-header-cell *matHeaderCellDef>Último Login</th>
                        <td mat-cell *matCellDef="let usuario">
                            {{ usuario.lastLogin ? ( usuario.lastLogin | date: 'dd/MM/yyyy HH:mm') : 'Não logado ainda'
                            }}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let usuario">
                            <div class="buttons">
                                <button (click)="preparaEditar(usuario.id)">
                                    <lucide-angular [img]="SquarePen" [size]="20"></lucide-angular>
                                </button>
                                <button type="button" (click)="preparaDeletar(usuario)">
                                    <lucide-angular [img]="Trash2" color="red" [size]="20"></lucide-angular>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsTable;"></tr>
                </table>
            </div>
            @if (dataSource.data.length >= 1) {
            <div class="paginador">
                <button (click)="currentPage = currentPage - 1; atualizarLista()"
                    [disabled]="currentPage === 1">«</button>
                <span>Página {{currentPage}} de {{totalPages}}</span>
                <button (click)="currentPage = currentPage + 1; atualizarLista()"
                    [disabled]="currentPage === totalPages">»</button>
            </div>
            }
        </mat-card>
    </form>
</section>