.content {
    margin-top: 20px;
}

.mat-mdc-card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border: .5px solid var(--borders, #e5e5e5);
    padding: 12px;
    padding-top: 4px;
}

.buttons {
    display: flex;
    gap: 5px;
}

.buttons button {
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.buttons button:hover {
    background-color: rgba(201, 201, 201, 0.3);
    cursor: pointer;
}

.search-input {
    position: relative;
    display: inline-block;
}

.search-input input {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 280px;
    border-radius: 6px;
    border: 1px solid var(--borders, #e5e5e5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    height: 16px;
    font-size: 14px;
}

.search-input .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}

.search-input input:focus {
    outline: 4px solid #cccccc7e;
}

.search-input>.material-icons {
    // Alterar tamanho icon
    font-size: 23px;
    line-height: -1;
}

.table {
    margin: 16px;
    overflow-x: auto;
}

.mat-mdc-table {
    //alterar tamanho da tabela
    border: .5px solid var(--borders, #e5e5e5);
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.mat-mdc-header-cell {
    border-bottom-color: var(--borders, #e5e5e5);
}

.mat-mdc-cell {
    border-bottom-color: var(--borders, #e5e5e5);
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mat-mdc-card-title {
    font-weight: 600;
}

.mat-mdc-card-subtitle {
    margin-bottom: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.avatar {
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border: .5px solid var(--borders, #ffffff);
    position: relative;
    z-index: 1;
    margin-left: -12px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.ativos {
    padding: 2px;
    background-color: rgba(144, 238, 144, 0.2);
    width: 80px;
    border-radius: 8px;
    text-align: center;
    color: rgb(2, 83, 2);
}

.mat-mdc-card-header {
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.acessLabelAdm,
.acessLabelAdmMaster,
.acessLabelGerente,
.acessLabelVisualizador,
.acessLabelPersonalizado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 8px;
    width: fit-content; 
    min-width: 110px; 
    height: auto; 
    padding: 6px 12px; 
    p {
        margin: 0;
        padding-top: 1px;
        font-size: 0.8rem;
        white-space: nowrap; 
    }
}

.acessLabelAdm {
    background-color: #ffe2e2;
    p, .icon { color: #a91f29; }
}

.acessLabelAdmMaster {
    background-color: #2a1515;
    p, .icon { color: #c81e1e; }
}

.acessLabelGerente {
    background-color: #dbeafe;
    p, .icon { color: #2b4cbe; }
}

.acessLabelVisualizador {
    background-color: #f3f4f6;
    p, .icon { color: #211b1b; }
}

.acessLabelPersonalizado {
    background-color: #ede9fe;
    p, .icon { color: #5b21b6; }
}

@media (max-width: 768px) {
  .table {
    margin: 16px 0;
    overflow-x: auto;
    border-radius: 12px;
    border: 0.5px solid var(--borders, #e5e5e5);
    background-color: white;
  }

  .mat-mdc-table {
    min-width: 1000px; 
    border: none;
  }

.header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }
  
  .header app-main-button {
      width: 100%; 
  }

}
