<section class="content">
    <section class="card">
        <p class="title-card">
            Listagem de membros da Equipe:
        </p>
        <div class="inside-content">
            <div class="list-membros">
                @for (membro of equipe.membros; track membro; let last = $last) {
                <div class="membro-container">
                    <div class="left-membro">
                        <p>{{ membro?.nome || 'Nome' }}</p>
                        <p>{{ membro?.funcao?.nomeFuncao|| 'Função não cadastrada' }}</p>
                    </div>
                    <div class="right-membro">
                        <p> R$ {{ membro?.precoVenda | number: '1.2-2' }}</p>
                        <p>
                            @if (membro.tipoPagamento === 'pix') {
                            Pix
                            } @else if (membro.tipoPagamento === 'banco') {
                            Banco
                            }
                        </p>
                    </div>
                </div>
                <div class="under-membro">
                    <p>Participação:
                        {{ membro.participacao?.[0]?.dataInicio | date:'dd/MM/yyyy' }} —
                        {{ membro.participacao?.[0]?.dataFim | date:'dd/MM/yyyy' }}
                    </p>
                </div>
                @if (!last) {
                <hr />
                }
                }
            </div>
        </div>
        <div class="actions">
            <button mat-flat-button (click)="closeModal()" class="cancelar-botao">Fechar</button>
        </div>
    </section>
</section>