<div class="listItemBackground">
    <div class="content">
        <div class="line">
            <h2 class="h2Title">{{title}}</h2>
            .
            <p [ngClass]="{
                'title2Green': title2.startsWith('+'),
                'title2Red': title2.startsWith('-'),
                'title2': !title2.startsWith('+') && !title2.startsWith('-')
            }">
                {{title2}}
            </p>
        </div>
        <div class="line">
            <p class="subtitle">{{truncatedSubtitle}}</p>
            <p class="subtitle2">{{subtitle2}}</p>
        </div>
    </div>
</div>