.inside-content {
  display: flex;
  flex-direction: column;
}

.lista-membros-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  h3 {
    font-weight: 500;
  }
  color: var(--titles-color, #201a19);
}

.card-filter {
  border: .5px solid var(--borders, #e5e5e5);
  border-radius: 0.75rem;
  padding: 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.selecionar-membros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selecionar-membros button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Geist', sans-serif;
  font-weight: 600;
  height: 32px;
  width: 90px;
  background-color: var(--sec-btn-bg, #ffffff);
  color: var(--sec-btn-text, #171717);
  border: none;
  border-radius: 8px;
  border: 1px solid var(--sec-btn-border, #ccc);
  padding: 5px
}

.selecionar-membros button:hover {
  background-color: var(--sec-btn-hover, #c9c9c9);
  cursor: pointer;
}


.mostra-membro {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 40vh;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.grid-filtro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  row-gap: 18px;
}

.label-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.label-title label {
  font-weight: 600;
}

.cargos-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 100px;
  overflow-y: auto;
}

.cargos-button button {
  font-family: 'Geist', sans-serif;
  min-height: 25px;
  height: auto;
  padding: 4px 8px;
  background-color: var(--sec-btn-bg, #ffffff);
  color: var(--sec-btn-text, #171717) ;
  border: none;
  border-radius: 8px;
  border: .5px solid var(--sec-btn-border, #e5e5e5);
  font-weight: 500;
  white-space: normal;
  text-align: center;
}

.cargos-button button:hover {
  background-color: var(--sec-btn-hover, #e5e5e5);
  cursor: pointer;
}

.disponibilidade-select {
  display: flex;
  flex-direction: column;
}

.disponibilidade-select select {
  width: 100%;
  max-width: 100%;
}

.disponibilidade-select label {
  font-weight: 600;
}

.select {
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: .5px solid var(--borders, #e5e5e5);
  font-size: 14px;
  height: 37px;
  margin-bottom: 15px;
}

.slider-valor {
  display: flex;
  flex-direction: column;
}

.slider-valor label {
  font-weight: 600;
}

.slider-nota {
  display: flex;
  flex-direction: column;
}

.slider-nota label {
  font-weight: 600;
}

.ativo {
  background-color: var(--primary-btn-bg, black) !important;
  color: var(--primary-btn-text, white) !important;
  border-color: var(--primary-btn-border, black) !important;
}

mat-slider {
  width: 90%;
}

.search-input {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.search-input input {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--borders, #e5e5e5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  height: 37px;
  font-size: 14px;
}

.search-input .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}

.search-input input:focus {
  outline: 4px solid #cccccc7e;
}

.search-input>.material-icons {
  font-size: 23px;
  line-height: -1;
}

@media (max-width: 1300px) {
  .grid-filtro {
    grid-template-columns: 1fr; 
    row-gap: 10px;
  }
}

@media (max-width: 1200px) {
  .mostra-membro {
    grid-template-columns: 1fr; 
  }
}