<div class="page-container">
    <h1>Fluxo de Caixa</h1>
    <p>Controle completo de entradas e saídas financeiras</p>

    <app-small-card-section>
        <app-small-card class="blue ignore-global-color" title="Transações" [icon]="Landmark" color="blue"
            mainText="{{ qtdTransacoes }}" subtitle="Nº Total de Movimentações" (click)="filtrarTotal()"
            style="cursor:pointer">
        </app-small-card>
        <app-small-card class="up ignore-global-color" title="Receita Total" [icon]="CircleArrowUp" color="green"
            mainText="R$ {{ receitaTotal | number: '1.2-2' }}" subtitle="Mensal: R$ {{receitaMensal | number: '1.2-2'}}"
            (click)="filtrarReceita()" [selected]="cardSelecionado === 'receita'" style="cursor:pointer">
        </app-small-card>
        <app-small-card class="down ignore-global-color" title="Despesas Totais" [icon]="CircleArrowDown" color="red"
            mainText="R$ {{ despesaTotal | number: '1.2-2' }}" subtitle="Mensal: R$ {{despesaMensal | number: '1.2-2'}}"
            (click)="filtrarDespesas()" [selected]="cardSelecionado === 'despesa'" style="cursor:pointer">
        </app-small-card>
        @if (fluxoLiquido < 0) { <app-small-card class="down ignore-global-color" title="Lucro Líquido"
            [icon]="TrendingDown" color="red" mainText="R$ {{ fluxoLiquido | number: '1.2-2' }}"
            subtitle="Receita - Despesas" (click)="filtrarTotal()" style="cursor:pointer">
            </app-small-card>
            }
            @if (fluxoLiquido >= 0) {
            <app-small-card class="up ignore-global-color" title="Lucro Líquido" [icon]="TrendingUp" color="green"
                mainText="R$ +{{ fluxoLiquido | number: '1.2-2' }}" subtitle="Receita - Despesas"
                (click)="filtrarTotal()" style="cursor:pointer">
            </app-small-card>
            }
    </app-small-card-section>

    <div class="subtitulo">
        @if(perm.can('fluxoDeCaixa', 'create')) {
        <app-main-button [icon]="Plus" (click)="openModal()" [text]="'Nova Transação'"></app-main-button>
        }
    </div>

    <section class="secondSection">
        <app-consulta-transacao></app-consulta-transacao>
    </section>
</div>