<div class="background">
    <div class="content">
        <h2>Taxa de Pagamento</h2>
        <div class="line">
            <p>Faturas Pagas</p>
            <h3>{{ paidPercent | number:'1.0-1' }}%</h3>
        </div>
        <div class="graph">
            <div [style.width.%]="paidPercent" class="greenGraph"></div>
            <div [style.width.%]="pendingPercent" class="yellowGraph"></div>
            <div [style.width.%]="overduePercent" class="redGraph"></div>
        </div>
        <div class="info">
            <div class="paid">
                <h3>{{paid}}</h3>
                <p>Pagas</p>
            </div>
            <div class="pending">
                <h3>{{pending}}</h3>
                <p>Pendentes</p>
            </div>
            <div class="overdue">
                <h3>{{overdue}}</h3>
                <p>Vencidas</p>
            </div>
        </div>
    </div>
</div>