<div class="cardBackground">
    <div class="configContent">
        <div class="cardTitle">
            <lucide-angular class="icon" [size]="20" [img]="User"></lucide-angular>
            <h2>Dados Pessoais</h2>
        </div>
        <p>Gerencie suas informações pessoais e de contato.</p>
        <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro" (ngSubmit)="saveInfo()"
            ngNativeValidate>
            <div class="formSection">
                <div class="doubleLabel">
                    <div class="labelInput">
                        <p>Nome Completo</p>
                        <input [disabled]="!isEditing" class="configInput" type="text" name="accountName"
                            [(ngModel)]="user.nome">
                    </div>
                    <div class="labelInput">
                        <p>E-mail</p>
                        <input [disabled]="!isEditing" class="configInput" type="email" name="accountEmail" [(ngModel)]="user.email">
                    </div>
                </div>

            </div>
            <div class="buttonSection">
                @if (isEditing) {
                <app-main-button [icon]="Save" [text]="'Salvar Alterações'" type="submit"></app-main-button>
                } @else {
                <app-main-button [icon]="PencilRuler" [text]="'Editar Informações'"
                    (click)="editInfo()"></app-main-button>
                }
            </div>
        </form>
    </div>
</div>