<section class="content">
    <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro"
        (ngSubmit)="adicionarTransacao()" ngNativeValidate>
        <section class="card">
            <div class="inside-content">
                <div class="pop-up-title">
                    <h2 class="title-card">Adicionar Transação</h2>
                    <lucide-angular (click)="closeModal()" [img]="X" [size]="20"></lucide-angular>
                </div>
                <div class="grid-options">
                    <div class="wrap-intern-content">
                        <label class="title-label">Tipo</label>
                        <div class="search-input">
                            <select #selectTipo name="tipoTransacao" class="select" [(ngModel)]="transacao.tipo"
                                required>
                                <option value="">Selecione...</option>
                                <option value="receita">Receita</option>
                                <option value="despesa">Despesa</option>
                                <option value="despesaOperacional">Despesa Operacional</option>
                            </select>
                        </div>
                    </div>
                    @if (transacao.tipo !== 'despesaOperacional') {
                    <div class="wrap-intern-content">
                        <label class="title-label">Categoria</label>
                        <div class="search-input">
                            <select #selectCategoria name="categoriaTransacao" class="select"
                                [(ngModel)]="transacao.categoria" required>
                                <option value="">Selecione...</option>
                                <option value="pagamentoCliente">Pagamento Cliente</option>
                                <option value="pagamentoFreelancer">Pagamento Freelancer</option>
                                <option value="fatura">Fatura</option>
                                <option value="outros">Outros</option>
                            </select>
                        </div>
                    </div>
                    } @else {
                    <div class="wrap-intern-content">
                        <label class="title-label">Categoria</label>
                        <div class="search-input">
                            <select #selectSubCategoria name="subCategoriaTransacao" class="select"
                                [(ngModel)]="transacao.subcategoria" required>
                                <option value="">Selecione...</option>
                                <option value="escritorio">Escritório</option>
                                <option value="software">Software</option>
                                <option value="marketing">Marketing</option>
                                <option value="equipamentos">Equipamentos</option>
                                <option value="outros">Outros</option>
                            </select>
                        </div>
                    </div>
                    }
                </div>


                <div class="wrap-intern-content">
                    <label class="title-label">Descrição</label>
                    <div class="search-input">
                        <input [(ngModel)]="transacao.desc" name="desc" type="text" placeholder="Descrição da transação"
                            required />
                    </div>
                </div>

                <div class="grid-options">
                    <div class="wrap-intern-content">
                        <label class="title-label">Data</label>
                        <div class="search-input">
                            <input [(ngModel)]="transacao.data" name="data" type="date" required />
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Valor</label>
                        <div class="search-input">
                            <input name="valor" type="text" inputmode="numeric" [value]="valorDisplay"
                                (input)="validateValue($event)" (keydown)="bloquearNaoNumerico($event)"
                                (click)="moveCursorToEnd($event.target)" (keydown.arrowleft)="$event.preventDefault()"
                                required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button mat-flat-button (click)="closeModal()" class="cancelar-botao">Cancelar</button>
                @if(!atualizando) {
                <button mat-flat-button type="submit" class="button">Adicionar</button>
                } @else {
                <button mat-flat-button type="button" class="button" (click)="atualizarTransacao()">Atualizar</button>
                }
            </div>
        </section>
    </form>
</section>