.smallCardDisplay {
  height: 100%;
  background-color: var(--elements-background, #ffffff);
  width: 100%;
  border-radius: 0.75rem;//
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);//
  border: 0.5px solid var(--borders, #e5e5e5);
  overflow: hidden;
}

h1 {
  font-size: clamp(1rem, 2vw, 3.5rem);
  margin-top: 3vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.0;
}

.content {
  font-size: 0.9rem; //subtitle
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-top: 10px;
  padding-bottom: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem; //title
}

.blueIcon{
  color: #2563eb;
}
.greenIcon{
  color: #16a34a;
}
.purpleIcon{
  color: #9333ea;
}
.redIcon{
  color: #dc2626;
}
.yellowIcon{
  color: #ca8a04;
}
.orangeIcon{
  color: #ea580c;
}

.smallCardDisplay.selected {
  background-color: #e5e5e5;
}

@media (max-width: 768px){
  h1, p{
    padding-left: 12px;
    padding-right: 12px;
  }
  lucide-angular{
    padding-right: 12px;
  }
}