<div class="smallCardDisplay" [class.selected]="selected">
    <div class="content">
        <section class="titleLine">
            <p>{{ title }}</p>
            <lucide-angular [size]="20" [img]="icon" [ngClass]="{ blueIcon: color === 'blue', greenIcon: color === 'green',
                purpleIcon: color === 'purple', redIcon: color === 'red',
                yellowIcon: color === 'yellow', orangeIcon: color === 'orange'
            }"></lucide-angular>
        </section>
        <h1>{{ mainText }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</div>