<div class="cardBackground">
    <div class="configContent">
        <div class="cardTitle">
            <lucide-angular class="icon" [size]="20" [img]="Settings"></lucide-angular>
            <h2>Preferências dos Sistemas</h2>
        </div>
        <p>Configurações gerais do sistema</p>
        <div class="optionLine">
            <div>
                <h3 class="h3Option">Backup Automático</h3>
                <p>Fazer backup dos dados automaticamente</p>
            </div>
            <app-slider-button [checked]="true" [disabled]="true"></app-slider-button>
        </div>
        <div class="optionLine">
            <div>
                <h3 class="h3Option">Notificações por E-mail</h3>
                <p>Receber notificações importantes por email</p>
            </div>
            <app-slider-button [checked]="true" [disabled]="true"></app-slider-button>
        </div>
    </div>
</div>