<div class="cardBackground">
    <div class="configContent">
        <div class="cardTitle">
            <lucide-angular class="icon" [size]="20" [img]="Key"></lucide-angular>
            <h2>Alterar Senha</h2>
        </div>
        <p>Matenha sua conta segura alterando sua senha regularmente</p>
        <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro" (ngSubmit)="saveInfo()"
            ngNativeValidate>
            <div class="formSection">
                <div class="labelInput">
                    <p>Senha Atual</p>
                    <input class="configInput" type="password" name="oldPassword" [(ngModel)]="oldPassword">
                </div>
                <div class="labelInput">
                    <p>Nova Senha</p>
                    <input class="configInput" type="password" name="newPassword" [(ngModel)]="newPassword">
                </div>
                <div class="labelInput">
                    <p>Confirmar Nova Senha</p>
                    <input class="configInput" type="password" name="confirmNewPassword"
                        [(ngModel)]="confirmNewPassword">
                </div>
            </div>
            <div class="buttonSection">
                <app-main-button [icon]="Save" [text]="'Alterar Senha'" type="submit"></app-main-button>
            </div>
        </form>
    </div>
</div>