<div class="page-container">
    <h1>Agenda</h1>
    <p>Visualize e gerencie a agenda de todos os projetos e equipes</p>

    <app-small-card-section>
        <app-small-card title="Projetos Ativos" [icon]="FolderClock" color="green" mainText="{{activeProjects}}"
            subtitle="Em andamento">
        </app-small-card>
        <app-small-card title="Total de Projetos" [icon]="Folders" color="blue" mainText="{{sumProjects}}"
            subtitle="Soma total de projetos">
        </app-small-card>
        <app-small-card title="Projetos Concluídos" [icon]="CircleCheckBig" color="purple"
            mainText="{{concludedProjects}}" subtitle="Nº total de projetos concluídos">
        </app-small-card>
        <app-small-card title="Prazos Próximos" [icon]="CalendarClock" color="orange" mainText="{{comingDeadlines}}"
            subtitle="Nos próximos 7 dias">
        </app-small-card>
    </app-small-card-section>

    <div class="page-control">
        <app-segmented-control [options]="['Calendário', 'Cronograma']" [selectedIndex]="calendarioIsOpen ? 0 : 1"
            (selectionChange)="onSelectionChange($event)">
        </app-segmented-control>
    </div>

    @if (calendarioIsOpen) {
    <section class="secondSection">
        <app-calendar-component></app-calendar-component>
    </section>
    }
    @if (!calendarioIsOpen) {
    <section class="secondSection">
        <app-gantt-chart></app-gantt-chart>
    </section>
    }

</div>