<section class="content">
    <form #cadastroFrm="ngForm" class="cadastro" (ngSubmit)="salvar(cadastroFrm)" ngNativeValidate>
        <section class="card">
            <div class="inside-content">
                <h2 class="title-card">Informações do Projeto</h2>
                <p class="subtitle">Selecione o projeto concluído e defina o período de trabalho</p>
                <div class="grid-options">
                    <div class="wrap-intern-content">
                        <label class="title-label">Equipe/Projeto</label>
                        <div class="search-input">
                            <select #selectEquipe class="select" name="idEquipe" [(ngModel)]="fechamento.idEquipe"
                                (change)="onChangeEquipe(selectEquipe.value)" required>
                                <option value="">Selecione...</option>
                                <option *ngFor="let eq of equipes" [value]="eq.id"> {{ eq.nomeEquipe }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Cliente</label>
                        <div class="search-input-deactivated">
                            <input name="clienteId" type="text"
                                [value]="equipeSelecionada?.cliente?.razaoSocial || equipeSelecionada?.cliente?.nomeFantasia || equipeSelecionada?.cliente?.nomeCompleto || 'Selecione...'"
                                [readOnly]="true" />
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Data de Início</label>
                        <div class="search-input">
                            <input name="dataInicio" type="date"
                                [value]="formatarData(equipeSelecionada?.dataInicio ?? '')" [readOnly]="true" />
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Data Final</label>
                        <div class="search-input">
                            <input name="dataFinal" type="date"
                                [value]="formatarData(equipeSelecionada?.dataFinal ?? '')" [readOnly]="true" />
                        </div>
                    </div>
                </div>

                <label class="title-label">Descrição do Projeto</label>
                <div class="search-input-deactivated">
                    <textarea name="tarefa" type="text" [value]="equipeSelecionada?.tarefa || 'Selecione...'"
                        [readOnly]="true">
                    </textarea>
                </div>

                <label class="title-label">Observações</label>
                <div class="search-input">
                    <textarea name="obs" rows="4" type="text" [(ngModel)]="fechamento.obs"
                        placeholder="Adicione aqui as suas observações. . .">
                    </textarea>
                </div>
            </div>
        </section>
        @if(membrosDaEquipe.length >= 1) {
        <mat-card>
            <mat-card-header>
                <mat-card-title> Detalhamento por Membro </mat-card-title>
            </mat-card-header>
            <div class="table">
                <table mat-table [dataSource]="membrosDaEquipe">
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Membro</th>
                        <td mat-cell *matCellDef="let membro">
                            <span class="overflowText">{{ truncateMembro(membro.nome) }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cargo">
                        <th mat-header-cell *matHeaderCellDef>Função</th>
                        <td mat-cell *matCellDef="let membro"> {{ membro.funcao?.nomeFuncao }} </td>
                    </ng-container>

                    <ng-container matColumnDef="horas">
                        <th mat-header-cell *matHeaderCellDef>Horas Trabalhadas</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="intern-table-input">
                                <div class="search-input">
                                    <input name="horasTrabalhadas{{membro.id}}" type="number"
                                        [(ngModel)]="getDetalheMembro(membro).horasTrabalhadas"
                                        (ngModelChange)="atualizarValorTotalMembro(membro)" min="0" />
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="horasExtras">
                        <th mat-header-cell *matHeaderCellDef>Horas Extras</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="intern-table-input">
                                <div class="search-input">
                                    <input name="horasExtras{{membro.id}}" type="number"
                                        [(ngModel)]="getDetalheMembro(membro).horasExtras"
                                        (ngModelChange)="atualizarValorTotalMembro(membro)" min="0" />
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="adicional">
                        <th mat-header-cell *matHeaderCellDef>Adicional</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="intern-table-input">
                                <div class="search-input">
                                    <input name="adicional{{membro.id}}" type="number"
                                        [(ngModel)]="getDetalheMembro(membro).adicional"
                                        (ngModelChange)="atualizarValorTotalMembro(membro)" min="0" step="0.01" />
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="diarias">
                        <th mat-header-cell *matHeaderCellDef>Diarias</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="intern-table-input">
                                <div class="search-input">
                                    <input name="diarias{{membro.id}}" type="number"
                                        [(ngModel)]="getDetalheMembro(membro).diarias"
                                        (ngModelChange)="atualizarValorTotalMembro(membro)" min="0" />
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="valorVenda">
                        <th mat-header-cell *matHeaderCellDef>Preço/Hora</th>
                        <td mat-cell *matCellDef="let membro">R$ {{ getDetalheMembro(membro).precoVenda| number: '1.2-2'
                            }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="search-input-value">
                                R${{ getDetalheMembro(membro).valorTotal | number:'1.2-2' }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let membro">
                            <div class="buttons">
                                <button (click)="editarValor(membro)" type="button">
                                    <lucide-angular [img]="SquarePen" [size]="20"></lucide-angular>
                                </button>
                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row
                        *matHeaderRowDef="['nome', 'cargo', 'horas', 'horasExtras', 'diarias', 'adicional', 'valorVenda', 'total', 'acoes']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['nome', 'cargo','horas', 'horasExtras', 'diarias', 'adicional', 'valorVenda', 'total', 'acoes'];">
                    </tr>
                </table>
            </div>
            <div class="total-geral">
                <div class="total-geral-content">
                    <div class="left-side">
                        <h1>Total da Equipe</h1>
                        <p>Valor total a ser pago pela tarefa da Equipe {{equipeSelecionada?.nomeEquipe}}</p>
                    </div>
                    <div class="right-side">
                        <h1>R$ {{ fechamento.valorTotal | number:'1.2-2' }}</h1>
                        <p> {{ horasTotaisEquipe }} horas totais</p>
                    </div>
                </div>
            </div>
        </mat-card>
        }
        <div class="actions">
            <app-main-button type="submit" [text]="'Adicionar'"></app-main-button>
        </div>
    </form>
</section>