.content { //O conteudo
  padding: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  h2{
    font-size: 1rem;
    margin-bottom: 0;
  }
  p{
    margin-top: 2px;
    margin-bottom: 20px;
  }
}

.listItem{ //Onde vai receber a lista 
  border-radius: 0.75rem; 
  overflow-y: auto;
  height: 38vh;
  width: 100%;
}

@media(max-width:1000px){
  .bigCardSection{
    grid-template-columns: 1fr;
  }
}