@if (showItem){
<div class="ganttItem">
    <div class="content">
        <div class="info">
            <h3>{{ truncatedTitle }}</h3>
            <div class="line">
                <lucide-angular class="icon" color="#818181" [size]="18" [img]="Building2"></lucide-angular>
                <p>{{ truncatedClient }}</p>
            </div>
            <div class="line">
                <lucide-angular class="icon" color="#818181" [size]="18" [img]="Clock"></lucide-angular>
                <p>{{chartStart|number:'2.0-0'}}/{{startingMonth|number:'2.0-0'}}/{{startingYear}} -
                    {{chartEnd|number:'2.0-0'}}/{{endingMonth|number:'2.0-0'}}/{{endingYear}}</p>
            </div>
        </div>
        <div class="status">
            @if (status === 'Ativo') {
            <div class="statusActive">
                <h3>Ativo</h3>
            </div>
            } @else if (status === 'Concluido') {
            <div class="statusDone">
                <h3>Concluido</h3>
            </div>
            } @else {
            <div class="statusInative">
                <h3>Inativo</h3>
            </div>
            }
        </div>
    </div>

    <section>
        @if (monthLength === 28) {
        <div class="graph28">
            @for (day of days; track day.index) {
            <div class="day" [ngClass]="{
                        'activeDay': day.type === 'active',
                        'inactiveDay': day.type === 'inactive',
                        'doneDay': day.type === 'done',
                        'start': day.isStart,
                        'end': day.isEnd
                        }">
                <div class="dayNumber">
                    <p>{{day.index}}</p>
                </div>
            </div>
            }
        </div>
        } @else if(monthLength === 29){
        <div class="graph29">
            @for (day of days; track day.index) {
            <div class="day" [ngClass]="{
                        'activeDay': day.type === 'active',
                        'inactiveDay': day.type === 'inactive',
                        'doneDay': day.type === 'done',
                        'start': day.isStart,
                        'end': day.isEnd
                        }">
                <div class="dayNumber">
                    <p>{{day.index}}</p>
                </div>
            </div>
            }
        </div>
        } @else if(monthLength === 31){
        <div class="graph31">
            @for (day of days; track day.index) {
            <div class="day" [ngClass]="{
                        'activeDay': day.type === 'active',
                        'inactiveDay': day.type === 'inactive',
                        'doneDay': day.type === 'done',
                        'start': day.isStart,
                        'end': day.isEnd
                        }">
                <div class="dayNumber">
                    <p>{{day.index}}</p>
                </div>
            </div>
            }
        </div>
        } @else {
        <div class="graph30">
            @for (day of days; track day.index) {
            <div class="day" [ngClass]="{
                            'activeDay': day.type === 'active',
                            'inactiveDay': day.type === 'inactive',
                            'doneDay': day.type === 'done',
                            'start': day.isStart,
                            'end': day.isEnd
                            }">
                <div class="dayNumber">
                    <p>{{day.index}}</p>
                </div>
            </div>
            }
        </div>
        }


        @if (selectedMonth != startingMonth || selectedMonth != endingMonth ) {
        <div class="durationWarning">
            <lucide-angular class="icon" color="#818181" [size]="18" [img]="Info"></lucide-angular>
            <p>Este evento se estende para além do més selecionado. </p>
        </div>
        }
    </section>
</div>
}