<div class="loginBackground">
    <div class="loginCard">
        <div class="titleCard">
            <div class="loginIcon">
                <lucide-angular class="icon" [size]="50" [img]="Building"></lucide-angular>
            </div>

        </div>

        @if( mode === 'login' ) {
        <div class="titleLogin">
            <h2>Worknex Login!</h2>
            <p>Sistema de Gerenciamento de Freelancers</p>
        </div>
        <div class="formField">
            <form #cadastroFrm="ngForm" class="cadastro" (ngSubmit)="login()" ngNativeValidate>
                <section class="inputContainer">
                    <div class="labelInput">
                        <label> E-mail</label>
                        <input class="configInput" type="text" name="email" [(ngModel)]="user.email">
                    </div>
                    <div class="labelInput">
                        <label> Senha </label>
                        <input class="configInput" type="password" name="password" [(ngModel)]="user.senha">
                    </div>
                    <div class="buttonSection">
                        <app-main-button [isLongButton]="true" [text]="'Login'" type="submit"></app-main-button>
                    </div>

                    <div class="helper-links">
                        <a (click)="goForgot()">Esqueci minha senha</a>
                    </div>
                </section>
            </form>
        </div>
        }

        @if (mode === '2fa') {
        <h3 class="title-2FA">Insira o código enviado para {{ email2FA }}</h3>
        <input class="input-2FA" [(ngModel)]="codigo2FA" maxlength="6" placeholder="Código 2FA">
        <div class="button-section">
            <app-main-button [isLongButton]="true" [text]="'Validar código'" type="button"
                (click)="validar2FA()"></app-main-button>
        </div>
        }

        @if (mode === 'forgot') {
        <section class="forgot-section">
            <div class="title-forgot">
                <h3>Recuperar acesso</h3>
                <p>Vamos te enviar um link para redefinir sua senha.</p>
            </div>

            <input class="input-2FA" type="email" [(ngModel)]="emailForgot" placeholder="Seu e-mail">

            <div class="button-section">
                <app-main-button [isLongButton]="true" [text]="'Enviar link'" type="button"
                    (click)="sendResetMail()"></app-main-button>
            </div>

            <div class="helper-links">
                <a (click)="goLogin()">Voltar</a>
            </div>
        </section>
        }

        @if (mode === 'reset') {
        <div class="title-forgot">
            <h3>Redefinir senha</h3>
            <p>Digite uma nova senha para sua conta.</p>
        </div>
        <div class="inputContainer">
            <div class="labelInput">
                <input class="configInput" type="password" [(ngModel)]="newPassword" placeholder="Nova senha">
                <input class="configInput" type="password" [(ngModel)]="confirmNewPassword"
                    placeholder="Confirmar nova senha">
            </div>
        </div>

        <div class="button-section">
            <app-main-button [isLongButton]="true" [text]="'Redefinir senha'" type="button"
                (click)="resetPassword()"></app-main-button>
        </div>

        <div class="helper-links">
            <a (click)="goLogin()">Voltar</a>
        </div>
        }
    </div>
</div>