<header class="header">
  <div class="inner">
    <a class="brand" routerLink="/">
      <div class="mark"><img src="./assets/worknex.png" class="logo"></div>
    </a>

    <div class="links">
      <a class="header-links" routerLink="/marketplace">Marketplace</a>
      <a class="header-links" routerLink="/marketplace">Soluções</a>

      <a class="header-links" routerLink="/" fragment="como-funciona">Como Funciona</a>
      <a class="header-links" routerLink="/" fragment="co-criacao">Co-criação</a>
    </div>

   
  </div>
</header>