.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    height: auto; 
    max-height: 95vh; 
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.card-content {
    padding: 22px;
    overflow-y: auto;
}

.select-div {
    display: flex;
    flex-direction: column;
}

.card button {
    width: 6vw;
}

.title-card {
    margin: 0;
    font-weight: 600;
}

.subtitle {
    font-weight: normal;
    font-size: 14px;
    color: var(--text-color, #7e7e7e);
    margin-top: 4px;
    margin-bottom: 10px;
}

.mat-mdc-unelevated-button:not(:disabled) {
    border-radius: 8px;
    height: 34px;
}

.grid-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.actions {
    gap: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.search-input input,
textarea {
    padding-left: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--borders, #e5e5e5);
    font-size: 14px;
    box-sizing: border-box;
    height: 37px;
    margin-bottom: 8px;
}

.search-input-with-icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    input {
        width: 100%;
        padding-left: 30px;
        height: 37px;
        border-radius: 6px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid var(--borders, #e5e5e5);
        font-size: 14px;
        box-sizing: border-box;
        margin-bottom: 4px;
    }
}

.input-icon{
    color: #818181;
    position: absolute;
    left: 8px;
    top: 9px;
    pointer-events: none;
}

.title-label {
    font-weight: 500;
    margin-bottom: 6px;
}

.search-input input:focus {
    outline: 4px solid #cccccc7e;
}

.card-intern-text {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
    color: var(--text-color, #818181)
}

.card-intern-text>.material-icons-outlined {
    font-size: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.triple-way-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

textarea {
    height: 8vh;
    padding: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.select {
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: .5px solid var(--borders, #e5e5e5);
    font-size: 14px;
    min-height: 37px;
    margin-bottom: 15px;
}

option {
    min-height: 37px;
}

.select:hover {
    cursor: pointer;
}

textIcon{
    color: var(--titles-color, #e7e7e7);
}

@media (max-width: 768px) {
    .card {
        width: 90vw; 
        max-width: 400px; 
        padding: 16px;
        max-height: 85vh; 
        overflow-y: auto;
    }

    .actions {
        flex-direction: column-reverse;
        gap: 10px;
        
        button {
            width: 100%;
        }
    }
}