<section class="content">
    <form (keydown.enter)="$event.preventDefault()" #cadastroFrm="ngForm" class="cadastro"
        (ngSubmit)="adicionarEquipe()" ngNativeValidate>
        <section class="card">
            <div class="inside-content">
                <div class="pop-up-title">
                    <h2 class="title-card">Nova Equipe</h2>
                    <lucide-angular (click)="closeModal()" [img]="X" [size]="20"></lucide-angular>
                </div>
                <h3 class="subtitle">Adicione uma nova Equipe ao sistema</h3>
                <div class="grid-options">
                    <div class="wrap-intern-content">
                        <label class="title-label">Nome da Equipe</label>
                        <div class="search-input">
                            <input placeholder="Ex: Equipe de Limpeza de Hotel" [(ngModel)]="equipe.nomeEquipe"
                                name="nomeEquipe" type="text" required />
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Cliente</label>
                        <div class="search-input">
                            <select #selectCliente class="select-cliente" name="idCliente" class="select"
                                [(ngModel)]="equipe.clienteId" (change)="selecionarCliente(selectCliente.value)"
                                required>
                                <option value="">Selecione...</option>
                                <option *ngFor="let cl of clientes" [value]="cl.id"
                                    [attr.title]="cl.razaoSocial || cl.nomeFantasia || cl.nomeCompleto || 'Sem nomeação'">
                                    {{ truncate(cl.razaoSocial || cl.nomeFantasia || cl.nomeCompleto || 'Sem nomeação')
                                    }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Data de Início</label>
                        <div class="search-input">
                            <input [(ngModel)]="equipe.dataInicio" name="dataInicio" type="date" required
                                (change)="verificarData()" />
                        </div>
                    </div>

                    <div class="wrap-intern-content">
                        <label class="title-label">Data Final</label>
                        <div class="search-input">
                            <input [(ngModel)]="equipe.dataFinal" name="dataFinal" type="date" required
                                (change)="verificarData()" />
                        </div>
                    </div>

                </div>

                <label class="title-label">Tarefa</label>
                <div class="search-input">
                    <textarea placeholder="Descreva a tarefa ou projeto..." [(ngModel)]="equipe.tarefa" name="tarefa"
                        rows="4" type="text" maxlength="100" required>
                </textarea>
                </div>

                @if (dataInvalida) {
                <div class="invalid-data">
                    <p>AVISO: ESSA DATA É INVÁLIDA, POR FAVOR CORRIJA</p>
                </div>
                }
                @if(muitosDias) {
                <div class="invalid-data">
                    <p>AVISO: A DURAÇÃO ULTRAPASSA 6 DIAS</p>
                </div>
                }

                <div class="select-membros">
                    <app-lista-membros [equipe]="equipe" [dataAtualizadaTrigger]="dataTrigger"></app-lista-membros>
                </div>

            </div>


            <div class="actions">
                <button mat-flat-button (click)="closeModal()" class="cancelar-botao">Cancelar</button>
                @if(!atualizando) {
                <button mat-flat-button type="submit" class="button" [disabled]="dataInvalida">Adicionar</button>
                } @else {
                <button mat-flat-button type="button" class="button" (click)="atualizarEquipe()"
                    [disabled]="dataInvalida">Atualizar</button>
                }
            </div>
        </section>
    </form>
</section>