.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--elements-background, #ffffff);
}

.card button {
    width: 6vw;
}

.table {
    margin: 16px;
}

.mat-mdc-table {
    border: none;
    overflow: hidden;
}

.mat-mdc-header-cell {
    border-bottom-color: var(--borders, #e5e5e5);
}

.mat-mdc-cell {
    border-bottom-color: var(--borders, #e5e5e5);
}

.title-card {
    padding-left: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.actions {
    gap: 5px;
    margin-top: 12px;
    display: flex;
    justify-content: end;
}

