.buttonLine {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
}

.noTransition {
  transition: none !important;
}

.secondaryNavButton {
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  width: fit-content;
  height: 32px;
  margin: 4px;
  gap: 6px;
  text-align: start;
  transition: 0.4s ease;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  user-select: none;
  .icon,
  p {
    color: #000000;
  }

  &:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }

  &.selected {
    background-color: #171717;
    border: 1px solid #171717;
    .icon,
    p {
      color: #ffffff ;
    }
  }

}
