<div class="calendarMenu">
    <!-- Div interna removida. Agora todos são filhos diretos de .calendarMenu -->
    <div class="previousNext">
        <button (click)="previousCalendarView()">
            <lucide-angular class="icon" [size]="18" [img]="ChevronLeft"></lucide-angular>
        </button>
        <button (click)="nextCalendarView()">
            <lucide-angular class="icon" [size]="18" [img]="ChevronRight"></lucide-angular>
        </button>
    </div>

    <button class="buttonHoje" (click)="todayCalendarView()">
        <lucide-angular class="icon" [size]="18" [img]="Calendar"></lucide-angular>
        <p>Hoje</p>
    </button>

    <h2>
        @if (view === CalendarView.Month) {
        {{ viewDate | date:'MMMM De yyyy' | titlecase }}
        } @else if (view === CalendarView.Week) {
        Semana de {{ viewDate | date:'d De MMMM yyyy' | titlecase }}
        } @else {
        {{ viewDate | date:'MMMM De yyyy' | titlecase }}
        }
    </h2>

    @if(perm.can('agenda', 'create')) {
    <button class="buttonAdd" (click)="openModal()">
        <lucide-angular class="icon" [size]="18" [img]="CalendarPlus"></lucide-angular>
        <p>Adicionar</p>
    </button>
    }

    <select name="selectView" [(ngModel)]="selectedView" (ngModelChange)="setView($event)">
        <option [ngValue]="CalendarView.Month">Mês</option>
        <option [ngValue]="CalendarView.Week">Semana</option>
        <option [ngValue]="CalendarView.Day">Dia</option>
    </select>
</div>

<div class="borderCalendar">
    @if (view === CalendarView.Month) {
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"
        (eventClicked)="editarEvento($event)"></mwl-calendar-month-view>
    }
    @else if (view === CalendarView.Week) {
    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [hourSegments]="1"></mwl-calendar-week-view>
    } @else {
    <div class="aboveCalendarText">
        <lucide-angular class="icon" [size]="20" [img]="Clock"></lucide-angular>
        <p>Projetos e Compromissos - {{ viewDate | date:'EEEE, d MMMM yyyy' | titlecase }}</p>
    </div>
    <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [hourSegments]="1"></mwl-calendar-day-view>
    }
</div>