<div class="cardBackground">
    <div class="configContent">
        <div class="cardTitle">
            <h2>Níveis de Acesso</h2>
        </div>
        <p>Entenda o Nível de permissao de cada usuário</p>
        <div class="gridLayout">
            <div class="cardBackground2">
                <div class="content2">
                    <div class="redIconBackground">
                        <lucide-angular class="icon" color="#a91f29" [size]="20" [img]="Shield"></lucide-angular>
                    </div>
                    <div>
                        <h2>Administrador</h2>
                        <p>Acesso total ao sistema</p>
                    </div>
                </div>
            </div>
            <div class="cardBackground2">
                <div class="content2">
                    <div class="blueIconBackground">
                        <lucide-angular class="icon" [size]="20" [img]="User"></lucide-angular>
                    </div>
                    <div>
                        <h2>Gerente</h2>
                        <p>Equipes e Projetos</p>
                    </div>
                </div>
            </div>
            <div class="cardBackground2">
                <div class="content2">
                    <div class="iconBackground">
                        <lucide-angular class="icon" [size]="20" [img]="Eye"></lucide-angular>
                    </div>
                    <div>
                        <h2>Visualizador</h2>
                        <p>Apenas visualizar</p>
                    </div>
                </div>
            </div>
            <div class="cardBackground2">
                <div class="content2">
                    <div class="purpleIconBackground">
                        <lucide-angular class="icon" [size]="20" [img]="Settings"></lucide-angular>
                    </div>
                    <div>
                        <h2>Personalizado</h2>
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>