<div class="cardBackground">
    <div class="configContent">
        <div class="header">
            <div class="header-wrap">
                <div class="twoLineTitle">
                    <div class="cardTitle">
                        <lucide-angular class="icon" [size]="20" [img]="Trash2"></lucide-angular>
                        <h2>Registros Deletados</h2>
                    </div>
                    <p>Procurando algum registro específico? Verifique os registros apagados.</p>
                </div>
            </div>
            <div class="buttonSection">
                <app-main-button [isLongButton]="true" [icon]="FileSearchCorner"
                    [text]="'Verificar Deletados'"></app-main-button>
            </div>
        </div>
    </div>
</div>