<div class="page-container">
    <h1>Formulário de Fechamento</h1>
    <p>Gerencie o fechamento de projetos e calcule valores para pagamento</p>
    <app-small-card-section>
        <app-small-card title="Projetos Fechados" mainText="{{ quantidadeFechamentos }}" subtitle="Total de fechamentos"
            [icon]="Briefcase" color="blue">
        </app-small-card>
        <app-small-card title="Receita total" mainText="R$ {{ receitaTotal | number:'1.2-2':'pt-BR'}}"
            subtitle="Valor total faturado" [icon]="DollarSign" color="green">
        </app-small-card>
        <app-small-card title="Valor Médio" mainText="R$ {{ valorMedio | number:'1.2-2':'pt-BR'}}"
            subtitle="Por projeto" [icon]="Banknote" color="purple">
        </app-small-card>
        <app-small-card title="Horas Totais" [icon]="FolderClock" color="orange" mainText="{{ horasTotais }}h"
            subtitle="Horas trabalhadas">
        </app-small-card>
    </app-small-card-section>

    <div class="page-control">
        <app-segmented-control [options]="['Novo Fechamento', 'Histórico']" [selectedIndex]="fechamentoIsOpen ? 0 : 1"
            (selectionChange)="onSelectionChange($event)">
        </app-segmented-control>
    </div>

    @if (fechamentoIsOpen) {
    <section class="secondSection">
        @if(perm.can('fechamento','create')) {
        <app-add-fechamento></app-add-fechamento>
        }
    </section>
    }
    
    @if (!fechamentoIsOpen) {
    <section class="secondSection">
        <app-historico-fechamento></app-historico-fechamento>
    </section>
    }

</div>